body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    background-image: url(./Images/Back1.jpg);
    background-size: 630px;
    background-repeat: repeat-x;
    background-color: #292931;
}

/* .backcircle{
    background-image: url(./Images/Back.png);
    background-size: 37%;
    background-repeat: no-repeat;
    background-position-x: 380px;
    background-position-y: 90px;
} */

.head {
    /* background-color: #363543; */
    display: flex;
    flex-direction: column;
}

.header {
    /* width: 100%; */
    height: 1px;
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}

/* .head1 {
    margin-top: 30px;
    min-width: 50%;
} */



.headerlogolink {
    /* margin-left: -400px; */
    /* background-color: #363543; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-weight: 700;
    color: white;
}

.headerlink a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 15px;
}

.headerlink a:hover{
    font-weight: bold;
    background-color: #2c2b33;
    border-radius: 10%;
    padding: 5px;
}

.head1img {
    width: 15px;
    margin-right: 15px;
}

.about {
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

/* .head2img {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 90px;

} */

.aboutme {
    width: 30%;
    /* height: 500px; */
    color: white;
    /* background-color: aqua; */
}



.aboutme1 {
    margin-top: 140px;
    font-size: 45px;
    font-weight: lighter;
}

.aboutme2 {
    margin-top: -20px;
    font-size: 39px;
    font-weight: 700;
}

hr {
    margin-top: -25px;
    width: 50%;
    margin-left: -1px;
    /* margin-left: 10px; */
    border: 0;
    height: 2px;
    background-color: yellow;
}

.aboutme3 {
    font-size: 15px;
    width: 70%;
    letter-spacing: 1px;
    line-height: 23px;
    font-weight: lighter;
}

.aboutimage {
    width: 30%;
    height: 360px;
    border-radius: 50%;
    background-color: #464652;
    margin: 100px 10px 50px 10px;
}

.aboutimage img {
    width: 100%;
    height: 100%;
    /* border-radius: 20%; */
    /* margin-bottom: -395px; */
    margin-top: 45px;
}



.aboutservices {
    width: 30%;
    color: white;
    /* background-color: black; */
    /* margin-left: 50px; */
}

.aboutservices1 {
    margin-top: 140px;
    font-size: 25px;
}

.aboutservices2 {
    font-size: 15px;
    width: 70%;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: lighter;
}

.aboutservices3 {
    color: gold;
}

.head2-3para3img {
    width: 10px;
    margin-left: 15px;
}

.aboutsocialmedia{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.aboutsocialmediaimage{
    background-color: #464652;
    width: 22%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutsocialmediaimage img{
    width: 60%;
}

.links {
    background-color: #363543;
    box-shadow: 0 0 10px #00000096;
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    /* align-items: center; */
}

.links img {
    width: 60%;
    margin-left: 2.5em;
}

.links1 {
    width: 20%;
    background-color: #2c2b33;
}

/* Services Section */

.services {
    color: white;
    width: 100%;
    /* height: 4000px; */
}

.servicesmainbox {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.servicesbox1 {
    width: 40%;
    height: 100%;
    max-height: 80vh;
}

.servicesbox1h1 {
    width: 80%;
}

.servicesbox1text {
    width: 70%;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 23px;
}

/* .servicesbox1child1text{
    background-color: aliceblue;
} */

.servicesbox1child1texth2{
    color: #ffd700;
}

.servicesbox1child1textp{
    font-size: 0.8em;
    margin-top: -10px;
}

.servicesbox2 {
    width: 50%;
    height: 100%;
}

.servicesbox2main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: rgb(255, 255, 255) 1px solid;
    margin-top: 16px;
}

/* .servicesbox2main.imageboxmargin {
    margin-top: 0;
} */

.servicesbox1mainchild1text {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.servicesbox2image {
    width: 140px;
    height: 100px;
}

.servicesbox2image img {
    width: 100%;
}

.servicesbox2imagetext{
    margin-left: -130px;
    width: 37%;
}

.servicesbox2arrow {
    width: 20px;
}

.servicesbox2arrow img {
    width: 100%;
}

/* skills */

.skills {
    width: 100%;
    height: 40vh;
}

.skillsmain {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skillsbox {
    width: 26%;
    height: 80%;
    background-color: #363543;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    color: white;
    padding: 25px;
    max-width: 28%;
    max-height: 150%;
}

.skillsboximage {
    width: 45px;
}

.skillsboximage img {
    width: 100%;
}

.skillsboxtext2{
    margin-top: -5px;
    width: 85%;
    font-size: 0.8em;
    letter-spacing: 1px;
    line-height: 23px;
}